In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
import numpy as np                # mathematical calculations
import pandas as pd               # manipulation of raw data 
import matplotlib.pyplot as plt   # plotting graphs
%matplotlib inline

In [ ]:
path ='/gdrive/My Drive/Online_ML : Weekends Nov 2020/Assignments/Data/'

In [ ]:
raw_data = pd.read_csv(path + 'Chennai_house_price_multivariate_train.csv')
raw_data.head()

   PRT_ID        AREA  INT_SQFT  ... REG_FEE  COMMIS  SALES_PRICE
0  P03210  Karapakkam      1004  ...  380000  144400      7600000
1  P09411  Anna Nagar      1986  ...  760122  304049     21717770
2  P01812       Adyar       909  ...  421094   92114     13159200
3  P05346   Velachery      1855  ...  356321   77042      9630290
4  P06210  Karapakkam      1226  ...  237000   74063      7406250

[5 rows x 22 columns]

In [ ]:
#Check Null value of train data

raw_data.isnull().sum(axis=0)

PRT_ID            0
AREA              0
INT_SQFT          0
DATE_SALE         0
DIST_MAINROAD     0
N_BEDROOM         1
N_BATHROOM        5
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       48
REG_FEE           0
COMMIS            0
SALES_PRICE       0
dtype: int64

In [ ]:
#Missing value in QS_Overall and N_Bed Room & N_Bathroom

raw_data = raw_data.fillna({'N_BEDROOM': raw_data['N_BEDROOM'].mean(), 'N_BATHROOM': raw_data['N_BATHROOM'].mean(), 'QS_OVERALL': raw_data['QS_OVERALL'].mean()})

In [ ]:
raw_data.isnull().sum(axis=0)

PRT_ID           0
AREA             0
INT_SQFT         0
DATE_SALE        0
DIST_MAINROAD    0
N_BEDROOM        0
N_BATHROOM       0
N_ROOM           0
SALE_COND        0
PARK_FACIL       0
DATE_BUILD       0
BUILDTYPE        0
UTILITY_AVAIL    0
STREET           0
MZZONE           0
QS_ROOMS         0
QS_BATHROOM      0
QS_BEDROOM       0
QS_OVERALL       0
REG_FEE          0
COMMIS           0
SALES_PRICE      0
dtype: int64

In [ ]:
# Split output and input variable

y = raw_data['SALES_PRICE']
y = np.array(y)
y = y.reshape(-1,1)
y.shape

(7109, 1)

In [ ]:
x_raw_data = raw_data.drop(columns=['PRT_ID','DATE_SALE', 'SALES_PRICE', 'DATE_BUILD'])
x_raw_data.head()

         AREA  INT_SQFT  DIST_MAINROAD  ...  QS_OVERALL  REG_FEE  COMMIS
0  Karapakkam      1004            131  ...       4.330   380000  144400
1  Anna Nagar      1986             26  ...       3.765   760122  304049
2       Adyar       909             70  ...       3.090   421094   92114
3   Velachery      1855             14  ...       4.010   356321   77042
4  Karapakkam      1226             84  ...       3.290   237000   74063

[5 rows x 18 columns]

In [ ]:
# Encode CATEGORICAL variable 
from sklearn.preprocessing import LabelEncoder

area_labelencoder = LabelEncoder()
x_raw_data['AREA'] = area_labelencoder.fit_transform(x_raw_data['AREA'])

Sale_labelencoder = LabelEncoder()
x_raw_data['SALE_COND'] = Sale_labelencoder.fit_transform(x_raw_data['SALE_COND'])

Parking_labelencoder = LabelEncoder()
x_raw_data['PARK_FACIL'] = Parking_labelencoder.fit_transform(x_raw_data['PARK_FACIL'])

Buildtype_labelencoder = LabelEncoder()
x_raw_data['BUILDTYPE'] = Buildtype_labelencoder.fit_transform(x_raw_data['BUILDTYPE'])

Utility_labelencoder = LabelEncoder()
x_raw_data['UTILITY_AVAIL'] = Buildtype_labelencoder.fit_transform(x_raw_data['UTILITY_AVAIL'])

Street_labelencoder = LabelEncoder()
x_raw_data['STREET'] = Street_labelencoder.fit_transform(x_raw_data['STREET'])

mz_labelencoder = LabelEncoder()
x_raw_data['MZZONE'] = mz_labelencoder.fit_transform(x_raw_data['MZZONE'])

In [ ]:
x_raw_data.head()

   AREA  INT_SQFT  DIST_MAINROAD  ...  QS_OVERALL  REG_FEE  COMMIS
0    12      1004            131  ...       4.330   380000  144400
1     4      1986             26  ...       3.765   760122  304049
2     0       909             70  ...       3.090   421094   92114
3    15      1855             14  ...       4.010   356321   77042
4    12      1226             84  ...       3.290   237000   74063

[5 rows x 18 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
x_scaler = StandardScaler()
y_scaler = StandardScaler()

x = x_scaler.fit_transform(x_raw_data)
y = y_scaler.fit_transform(y)

x.shape, y.shape

((7109, 18), (7109, 1))

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((5331, 18), (1778, 18), (5331, 1), (1778, 1))

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_train_pred = model.predict(x_train)
train_score = model.score(x_train, y_train)
train_score

0.8845470466038255

In [ ]:
y_test_pred = model.predict(x_test)
test_score = model.score(x_test, y_test)
test_score

0.8696368943804731

In [ ]:
from sklearn.metrics import r2_score
test_r2_score = r2_score(y_test, y_test_pred)
test_r2_score

0.8696368943804731

In [ ]:
print("Training accuracy: {}".format(train_score * 100))
print("Testing accuracy: {}".format(test_r2_score * 100))

Training accuracy: 88.45470466038256
Testing accuracy: 86.96368943804731

Now load the test data set and predict the values

In [ ]:
test_path ='/gdrive/My Drive/Online_ML : Weekends Nov 2020/Assignments/Data/'
raw_test_data = pd.read_csv(test_path + 'Chennai_house_price_multivariate_test.csv')
raw_test_data.head()

   PRT_ID        AREA  INT_SQFT  ... QS_OVERALL  REG_FEE  COMMIS
0  P05996    Chrompet       958  ...      3.860   203260   93813
1  P09294  Anna Nagar      1807  ...      2.775   370410  222246
2  P03807  Karapakkam      1658  ...      2.720   387972  113159
3  P00539  Anna Nagar      1592  ...      3.635   408134   84442
4  P01448    Chrompet       857  ...      3.570   181212   34849

[5 rows x 21 columns]

In [ ]:
raw_test_data.isnull().sum(axis=0)

PRT_ID            0
AREA              0
INT_SQFT          0
DATE_SALE         0
DIST_MAINROAD     0
N_BEDROOM         0
N_BATHROOM        0
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       19
REG_FEE           0
COMMIS            0
dtype: int64

In [ ]:
raw_test_data = raw_test_data.fillna({ 'QS_OVERALL': raw_test_data['QS_OVERALL'].mean()})
raw_test_data.isnull().sum(axis=0)

PRT_ID           0
AREA             0
INT_SQFT         0
DATE_SALE        0
DIST_MAINROAD    0
N_BEDROOM        0
N_BATHROOM       0
N_ROOM           0
SALE_COND        0
PARK_FACIL       0
DATE_BUILD       0
BUILDTYPE        0
UTILITY_AVAIL    0
STREET           0
MZZONE           0
QS_ROOMS         0
QS_BATHROOM      0
QS_BEDROOM       0
QS_OVERALL       0
REG_FEE          0
COMMIS           0
dtype: int64

In [ ]:
raw_test_data = raw_test_data.drop(columns=['PRT_ID','DATE_SALE', 'DATE_BUILD'])
raw_test_data.head()

         AREA  INT_SQFT  DIST_MAINROAD  ...  QS_OVERALL  REG_FEE  COMMIS
0    Chrompet       958            185  ...       3.860   203260   93813
1  Anna Nagar      1807            108  ...       2.775   370410  222246
2  Karapakkam      1658             59  ...       2.720   387972  113159
3  Anna Nagar      1592            102  ...       3.635   408134   84442
4    Chrompet       857             62  ...       3.570   181212   34849

[5 rows x 18 columns]

In [ ]:
# Encode CATEGORICAL variable 
from sklearn.preprocessing import LabelEncoder

area_labelencoder = LabelEncoder()
raw_test_data['AREA']=area_labelencoder.fit_transform(raw_test_data['AREA'])

Sale_labelencoder = LabelEncoder()
raw_test_data['SALE_COND'] = Sale_labelencoder.fit_transform(raw_test_data['SALE_COND'])

Parking_labelencoder = LabelEncoder()
raw_test_data['PARK_FACIL'] = Parking_labelencoder.fit_transform(raw_test_data['PARK_FACIL'])

Buildtype_labelencoder = LabelEncoder()
raw_test_data['BUILDTYPE'] = Buildtype_labelencoder.fit_transform(raw_test_data['BUILDTYPE'])

Utility_labelencoder = LabelEncoder()
raw_test_data['UTILITY_AVAIL'] = Buildtype_labelencoder.fit_transform(raw_test_data['UTILITY_AVAIL'])

Street_labelencoder = LabelEncoder()
raw_test_data['STREET'] = Street_labelencoder.fit_transform(raw_test_data['STREET'])

mz_labelencoder = LabelEncoder()
raw_test_data['MZZONE'] = mz_labelencoder.fit_transform(raw_test_data['MZZONE'])

In [ ]:
new_x_test = x_scaler.fit_transform(raw_test_data)

new_x_test.shape

(2925, 18)

In [ ]:
new_y_pred = model.predict(new_x_test)

In [ ]:
new_y = y_scaler.inverse_transform(new_y_pred)

In [ ]:
new_y.shape

(2925, 1)

In [ ]:
output_path = '/gdrive/My Drive/Online_ML : Weekends Nov 2020/Participants/Huyen'
np.savetxt(output_path + "/problem1_pred_y.csv", new_y, delimiter=",")